<h3><%if flash[:request_not_sent]%></h3>
<h3> <%=flash[:request_not_sent]%></h3>
<%end%>

<h3><%if flash[:cannot_book_own_space]%></h3>
<h3> <%=flash[:cannot_book_own_space]%></h3>
<%end%>

<div>
<%= @space.name %><br>
<%= @space.user.name %><br>
<%= @space.description %><br>
<%= @space.price %><br>
</div>

<div>
  <p>Date available from: <%= @space.available_from.strftime("%d %B, %Y") %> </p>
  <p>Date available to: <%= @space.available_to.strftime("%d %B, %Y") %> </p>
</div>
<div class="row">
  <div class="col-12">
    <form action='/requests/new' method='POST'>
      <div class="form-group row">
        <label class="col-12 text-center mb-0 label-line-height" for='date'>Staying the Night Of</label>
        <div class="col-12" id='space_datepicker' data-date-start-date=<%= @from %> data-date-end-date=<%= @to %> data-date-dates-disabled='<%= @space.confirmed_dates %>'>
        </div>
        <input class="form-control col-12" type="hidden" name="date_requested" required>
        <input type='hidden' name='id' value='<%= @space.id %>'>
      </div>

      <button class="btn btn-lg" type="submit" name="request_to_book" id="request_to_book">Request space</button>

    </form>
  </div>
</div>
