<h1>Request for <%=@space.name %></h1>

<% if @owner == @user %>
<p>From: <%= @rentee.name %></p>
<p>Date: <%= @booking.date_requested.strftime("%d %B, %Y") %></p>

<% if @booking.status == :pending %>
  <form name='confirm_or_decline' action='/requests/ammend' method='POST'>
    <input type='hidden' name='_method' value='put'>
    <input type='hidden' name='id' value='<%= @booking.id %>'>
    <input type="submit" name="confirm" value="Confirm">
    <input type="submit" name="decline" value="Decline">
  </form>
<% end %>

  <h3>Other Requests for this space</h3>
  <ul>
    <% @space.requests.each do |request| %>
      <% next if request == @booking %>
        <li>
          <div id="request">
            <p>Requestor: <%=request.user_id%></p>
            <p>Status: <%=request.status.to_s.capitalize%></p>
            <p>Date: <%=request.date_requested.strftime("%d %B, %Y")%></p>
            <a href="/requests/<%=request.id%>"><button>See Request</button></a>
          </div>
        </li>
    <% end %>
  </ul>

<% else %>
  <p>Owner: <%= @owner.name %></p>
  <p>Date: <%= @booking.date_requested.strftime("%d %B, %Y") %></p>
<% end %>
