<h3><%if flash[:request_sent]%></h3>
<h3><%=flash[:request_sent]%></h3>
<%end%>



<h1>Requests</h1>

<div class="container"</div>
  <div class="row">
    <div class="col col-md-6"</div>
      <div class='requests-received'>
        <h1>Requests received</h1>
        <ul class="list-unstyled-received">
          <% @user.spaces.requests.each do |request| %>
            <li>
              <div id="space">
                <p class='header'>Request From: <b><%= request.user.name %></b></p>
                <p>Date Requested: <%= request.date_requested.strftime("%d %B, %Y") %></p>
                <p>Status: <%= request.status.to_s.capitalize %></p>
                <a href="/requests/<%=request.id%>"><button>Details</button></a>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="col col-md-6"</div>
      <div class='requests-made'>
        <h1>Requests made</h1>
        <ul class="list-unstyled-made">
          <% @user.requests.each do |request| %>
            <li>
              <div id="space">
                <p class='header'><b><%= request.space.name %></b></p>
                <p>Date Requested: <%= request.date_requested.strftime("%d %B, %Y") %></p>
                <p>Status: <%= request.status.to_s.capitalize %></p>
                <a href="/requests/<%=request.id%>"><button>Details</button></a>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
