<nav class="navbar navbar-default navbar-fixed-top">
   <div class="container-fluid">
      <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
         <span class="sr-only">Toggle navigation</span>
         </button>
         <a class="navbar-brand" href="#">CabinBnB</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
         <ul class="nav navbar-nav navbar-right">
           <% if flash[:notice] %>
              <li id="user-name"><%= flash[:notice] %></li>
           <% end %>
           <% if session[:user_id] %>
              <li id="user-name">Logged in as <%= current_user.name %></li>
              <li>
                  <p class="navbar-btn">
                      <a href="/spaces/view" class="btn btn-default">Spaces</a>
                  </p>
              </li>
              <li>
                  <p class="navbar-btn">
                      <a href="/requests/view" class="btn btn-default">Requests</a>
                  </p>
              </li>
              <li>
                  <p class="navbar-btn">
                    <form method='post' action='/sessions'>
                       <input type='hidden' name='_method' value='delete'>
                       <input class="btn btn-default" type='submit' value='Logout'>
                    </form>
                  </p>
              </li>
            <% else %>
              <li>
                  <p class="navbar-btn">
                      <a href="/sessions/new" class="btn btn-default">Log in</a>
                  </p>
              </li>
              <li>
                  <p class="navbar-btn">
                      <a href="/users/new" class="btn btn-default">Sign up</a>
                  </p>
              </li>
            <% end %>
         </ul>
      </div>
   </div>
</nav>

<div class="row">
  <div class="jumbotron landing-cabin">
    <div class="container-fluid">
      <p class="tagline">Your home away from home.</p>
    </div>
  </div>
</div>

<div class='spaces'>
  <ul class="list-unstyled spaces">
    <% @spaces.each do |space| %>
      <li>
        <div id="space">
          <p class='header'><b><%= space.name %></b></p>
          <p class='content'><%= space.description %></p>
          <p class='price'>£<%= space.price %> per night</p>
        </div>
      </li>
    <% end %>
  </ul>
</div>
